In [1]:
import requests
import io
import zipfile
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
url = "https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/wind/historical/stundenwerte_FF_03379_19850101_20221231_hist.zip"
response = requests.get(url)
print(response)

if response.status_code == 200:
    print("Download successful")
elif response.status_code == 404:
    print("Error: File not found")
elif response.status_code == 503:
    print("Error: Service unavailable")
elif response.status_code == 401:
    print("Error: Unauthorised (Authentication required)")
elif resonse.status_code == 403:
    print("Error: Forbidden")
else:
    print("Download failed")

<Response [200]>
Download successful

In [3]:
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    #z.extractall("C:\Users\david\TRABAJO\HiWi Windingenieurwesen\Wind microclimate\Einstellung")
    z.extract(r"produkt_ff_stunde_19850101_20221231_03379.txt", path=r"C:\Users\david\TRABAJO\HiWi Windingenieurwesen\Wind microclimate\Einstellung")
file = "produkt_ff_stunde_19850101_20221231_03379.txt"
df = pd.read_csv(file, sep=";")
df

        STATIONS_ID  MESS_DATUM  QN_3     F     D  eor
0              3379  1985010100    10   1.8   220  eor
1              3379  1985010101    10   1.0   230  eor
2              3379  1985010102    10   1.6   230  eor
3              3379  1985010103    10   1.5   170  eor
4              3379  1985010104    10   1.8   180  eor
...             ...         ...   ...   ...   ...  ...
331519         3379  2022123119     3   2.4   150  eor
331520         3379  2022123120     3   2.4   230  eor
331521         3379  2022123121     3   2.2   190  eor
331522         3379  2022123122     3   2.3   160  eor
331523         3379  2022123123     3   2.5   170  eor

[331524 rows x 6 columns]